/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/09/2017, 18:13:48
    Author     : Usuario
*/

#topo{background: steelblue; }
		#nivelUsuario{margin-top: 70px;}
		#textB{color: white;}
		#rodap{
			background: steelblue;
			border-radius: 0px 0px 10px 10px;
		}		
		#save{
			margin-right: 100px;
			margin-top: 15px;
			width: 110px;
			height: 30px;
			color: white;
			margin-left: 30%;	
		}
		#tudo{
			width: 80%;
			margin-left: 10%;
			border-radius: 10px;
                        border: solid 1px;
		}
		#rodape{
			margin-right: 40%;
			color: white;
		}
		#save{
			background: steelblue;
			border-color: steelblue;
		}
		#txt_busca{width: 45%;
			border-radius: 10px;
			height: 35px;
		}
		.btn_pad{background: steelblue;
			color: white;
			border-radius: 8%;
			width: 10%;
			height: 35px;
		}
		#busca{position: absolute;
			left: 30%;
			width: 70%;
		}
                #users,#acesso, #sem_acesso{width: 25%;
                    border-style: solid;
                    border-width: 2px;
                    border-radius: 10px;
                    height: auto;
                }
                #acesso{
                    position: relative;
                    margin-left: 70%;
                     /*margin-top: -41%;*/
                    margin-top: -29.5%;
                }
                #sem_acesso{
                    position: relative;
                    margin-left: 30%;
                    margin-top: -29.5%;}
                #botoes{width: 10%;
                    position: absolute;
                    margin-left: 60%;
                    margin-top: -23%;
                }
                #btn_inclui{height: 50px;
                    width: 60px;
                }
                #btn_i{background: steelblue;
                    height: 80%;
                    width: 90%;
                    color: white;
                    font-weight: bold;
                }
                #btn_retira{
                    height: 50px;
                    width: 60px;
                }
                #btn_r{background: steelblue;
                    height: 80%;
                    width: 90%;
                    color: white;
                    font-weight: bold;
                }
                #btn_salva{margin-top: 3%;}
                th{text-align: center;}
                #btn_s{margin-left: 83%;}
                #btnBusca{
                    width: 3%;
                    height: 3%;
                    opacity: 0.5;
                }
                
                #rdio_per{
                    font-weight: bold;
                    font-size: 15px;
                    width: 20%;
                    position: absolute;
                }
                #corpo{margin-top: 7%}
                #centro{}
                .ativo{
                    background: steelblue;
                    color: white;
                }				
                #linhas tr:hover{background: steelblue;
                    color: white;}
                #linhas:visited{background: blueviolet;}
                .selected{background:black;}
                #check{float: right;
                        position: relative;
                        margin-top: 4%;}
                #img-mod{width:40px; height:40px}
                #user1{
                        margin-left: -33.5%;
                        margin-top: 3%;
                }
                #tbl_titu{margin-left: 27%;
                text-align: left;}
                #tbls{margin-left: 27%}
                .form-group label{font-size: 19px;
                }
                .footer{margin-top: 1%;}
                #selectmultiple option{
                    font-weight: bold;
                }
                #selectmultipleCad option{
                    font-weight: bold;
                }
                #selectmultipleDisp option{
                    font-weight: bold;
                }
                
                #p_por li{
                    display: inline;
                    margin-left: 5%;
                }
                #selectmultiple option:hover{
                    background: lightgray;
                }
                #selectmultipleCad option:hover{
                    background: lightgray;
                }
                #selectmultipleDisp option:hover{
                    background: lightgray;
                }