<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>digital-valley</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/view/*</url-pattern>
      <include-prelude>/WEB-INF/templates/header.jspf</include-prelude>
      <include-coda>/WEB-INF/templates/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Verificacao</servlet-name>
    <servlet-class>controller.VerificarCadastro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Importacao</servlet-name>
    <servlet-class>controller.ImportacaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>controller.EditarUsuarioController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pesquisaModulos</servlet-name>
    <servlet-class>controller.PesquisaModulos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pesquisaUsuario</servlet-name>
    <servlet-class>controller.PesquisaUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastraAluno</servlet-name>
    <servlet-class>controller.CadastrarAluno</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastraServidor</servlet-name>
    <servlet-class>controller.CadastrarServidor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreCadastroServidor</servlet-name>
    <servlet-class>controller.ImportarServidorController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastroModulo</servlet-name>
    <servlet-class>controller.CadastrarModulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecuperarSenha</servlet-name>
    <servlet-class>controller.RecuperarSenha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarRecuperacao</servlet-name>
    <servlet-class>controller.ConfirmarRecuperacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequisitarModulo</servlet-name>
    <servlet-class>controller.RequisitarModulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModulosDePessoa</servlet-name>
    <servlet-class>controller.ModulosDePessoa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DesassociarModuloPessoa</servlet-name>
    <servlet-class>controller.DesassociarModuloPessoa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssociarModuloPessoa</servlet-name>
    <servlet-class>controller.AssociarModuloPessoa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtribuirModulos</servlet-name>
    <servlet-class>controller.AtribuirModulos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModulosDePerfil</servlet-name>
    <servlet-class>controller.ModulosDePerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssociarModuloPerfil</servlet-name>
    <servlet-class>controller.AssociarModuloPerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DesassociarModuloPerfil</servlet-name>
    <servlet-class>controller.DesassociarModuloPerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImagemPerfilUsuario</servlet-name>
    <servlet-class>controller.ImagemPerfilUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImagemModulo</servlet-name>
    <servlet-class>controller.ImagemModulo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>controller.ListarUsuarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterarEmail</servlet-name>
    <servlet-class>controller.AlterarEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterarNivel</servlet-name>
    <servlet-class>controller.AlterarNivel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastroComunidade</servlet-name>
    <servlet-class>controller.CadastrarComunidade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Verificacao</servlet-name>
    <url-pattern>/verificacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Importacao</servlet-name>
    <url-pattern>/view/adm/importarAlunos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/view/editarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pesquisaModulos</servlet-name>
    <url-pattern>/view/adm/pesquisaModulos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pesquisaUsuario</servlet-name>
    <url-pattern>/view/adm/pesquisaUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastraAluno</servlet-name>
    <url-pattern>/cadastro/cadastroAluno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastraServidor</servlet-name>
    <url-pattern>/cadastro/cadastroServidor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreCadastroServidor</servlet-name>
    <url-pattern>/view/adm/importarServidor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastroModulo</servlet-name>
    <url-pattern>/view/adm/cadastrarModulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecuperarSenha</servlet-name>
    <url-pattern>/RecuperarSenha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarRecuperacao</servlet-name>
    <url-pattern>/recuperar/ConfirmaRecuperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequisitarModulo</servlet-name>
    <url-pattern>/requisitarModulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModulosDePessoa</servlet-name>
    <url-pattern>/view/adm/pessoa_modulos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DesassociarModuloPessoa</servlet-name>
    <url-pattern>/view/adm/desassociar_modulo_pessoa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssociarModuloPessoa</servlet-name>
    <url-pattern>/view/adm/associar_modulo_pessoa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtribuirModulos</servlet-name>
    <url-pattern>/view/adm/atribuir_modulos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModulosDePerfil</servlet-name>
    <url-pattern>/view/adm/perfil_modulos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssociarModuloPerfil</servlet-name>
    <url-pattern>/view/adm/associar_modulo_perfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DesassociarModuloPerfil</servlet-name>
    <url-pattern>/view/adm/desassociar_modulo_perfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImagemPerfilUsuario</servlet-name>
    <url-pattern>/view/imagem_perfil_usuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImagemModulo</servlet-name>
    <url-pattern>/view/imagem_modulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/view/adm/listar_usuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterarEmail</servlet-name>
    <url-pattern>/view/adm/AlterarEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterarNivel</servlet-name>
    <url-pattern>/view/adm/AlterarNivel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastroComunidade</servlet-name>
    <url-pattern>/cadastroComunidade</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Autentica</filter-name>
    <filter-class>controller.AutenticacaoFiltro</filter-class>
  </filter>
  <filter>
    <filter-name>Cadastro</filter-name>
    <filter-class>controller.CadastroFiltro</filter-class>
  </filter>
  <filter>
    <filter-name>FiltroADM</filter-name>
    <filter-class>controller.AdmFiltro</filter-class>
  </filter>
  <filter>
    <filter-name>FiltroRecuperacao</filter-name>
    <filter-class>controller.FiltroRecuperacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Autentica</filter-name>
    <url-pattern>/view/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cadastro</filter-name>
    <url-pattern>/cadastro/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroADM</filter-name>
    <url-pattern>/view/adm/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroRecuperacao</filter-name>
    <url-pattern>/recuperar/confirmaRecuperacao.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarSenhaUsuario</display-name>
    <servlet-name>AlterarSenhaUsuario</servlet-name>
    <servlet-class>controller.AlterarSenhaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarSenhaUsuario</servlet-name>
    <url-pattern>/alterarSenhaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarImagemPerfilUsuario</display-name>
    <servlet-name>AlterarImagemPerfilUsuario</servlet-name>
    <servlet-class>controller.AlterarImagemPerfilUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarImagemPerfilUsuario</servlet-name>
    <url-pattern>/alterarImagemPerfilUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveImagemPerfilUsuario</display-name>
    <servlet-name>RemoveImagemPerfilUsuario</servlet-name>
    <servlet-class>controller.RemoveImagemPerfilUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveImagemPerfilUsuario</servlet-name>
    <url-pattern>/removeImagemPerfilUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterarSenha</servlet-name>
    <servlet-class>controller.AlterarSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarSenha</servlet-name>
    <url-pattern>/alterarSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmaRecuperacaoController</display-name>
    <servlet-name>ConfirmaRecuperacaoController</servlet-name>
    <servlet-class>controller.ConfirmaRecuperacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmaRecuperacaoController</servlet-name>
    <url-pattern>/ConfirmaRecuperacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Service</display-name>
    <servlet-name>Service</servlet-name>
    <servlet-class>controller.Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service</servlet-name>
    <url-pattern>/Service</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>servico</servlet-name>
	<servlet-class>controller.Service</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>servico</servlet-name>
	<url-pattern>/api/Service</url-pattern>
</servlet-mapping>
</web-app>